#MethodsContainer {
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 100px;
}

    #MethodsContainer img {
        float: right;
        width: 250px;
        height: 171px;
        margin-left: 20px;
    }

    #MethodsContainer .list-square {
        list-style-type: square;
    }

    #MethodsContainer ul li ul {
        margin-left: 30px;
        list-style-type: none;
    }

        #MethodsContainer ul li ul li {
            list-style-type:none;
        }
