@using OnlineShop.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/MainPage.css?Wednesday 20th of July 2016 07:45:21 AM" />
    <meta name="viewport" content="width=device-width" />
    <title>AboutShop</title>
</head>
<body>
    <div>
        @Html.Partial("~/Views/PartialViews/Header.cshtml")
    </div>
    <div id="CategoryList">
        @{
            GoodsContainer1 goods = new GoodsContainer1();
        }
        @Html.Partial("~/Views/PartialViews/showCatButton.cshtml", goods)
    </div><br />
    <div id="showProduct">
        <h3 style="margin-left:50%;text-align:center">History:</h3>
        <p style="padding-left:20px;padding-right:20px;text-indent:20px">Early years
            The AuctionWeb was founded in California on September 3, 1995 by French-born Iranian-American computer programmer Pierre Omidyar (born June 21, 1967) 
        as part of a larger personal site.<br/>One of the first items sold on AuctionWeb was a broken laser pointer for $14.83. Astonished, 
        Omidyar contacted the winning bidder to ask if he understood that the laser pointer was broken.<br />
        In his responding email, the buyer explained: 
        "I'm a collector of broken laser pointers. The frequently repeated story that eBay was founded to help Omidyar's fiancée trade Pez candy 
        dispensers was fabricated by a public relations manager in 1997 to interest the media, which were not interested in the company's previous
         explanation about wanting to create a "perfect market".<br />
         This was revealed in Adam Cohen's book, The Perfect Store (2002),and confirmed
         by eBay.</p>
        <p style="padding-left:20px;padding-right:20px;text-indent:20px">
            Reportedly, eBay was simply a side hobby for Omidyar until his Internet service provider informed him he would need to upgrade to a business account
            due to the high volume of traffic to his website. The resulting price increase (from $30/month to $250) forced him to start charging those who
            used eBay, and was not met with any animosity.[citation needed] It resulted in the hiring of Chris Agarpao as eBay's first employee to handle
            the number of checks coming in for fees.[citation needed]


            Pierre Omidyar, founder and chairman of eBay
            Jeffrey Skoll was hired as the first president of the company in early 1996. In November 1996, eBay entered into its first third-party licensing deal,
            with a company called Electronic Travel Auction to use SmartMarket Technology to sell plane tickets and other travel products.
            Growth was phenomenal; in January 1997 the site hosted 2,000,000 auctions, compared with 250,000 during the whole of 1996.[11]
            The company officially changed the name of its service from AuctionWeb to eBay in September 1997. Originally, the site belonged to
            Echo Bay Technology Group, Omidyar's consulting firm. Omidyar had tried to register the domain name echobay.com, but found it already taken
            by the Echo Bay Mines, a gold mining company,[12] so he shortened it to his second choice, eBay.com.[13]
        </p>
        <p style="padding-left:20px;padding-right:20px;text-indent:20px">
            In 1997, the company received $6.7 million in funding from the venture capital firm Benchmark Capital.[14]

            Meg Whitman was hired as eBay President and CEO in March 1998. At the time, the company had 30 employees,[15] half a million users and revenues
            of $4.7 million in the United States.[citation needed]

            eBay went public on September 21, 1998,[16] and both Omidyar and Skoll became instant billionaires. eBay's target share price of $18 was all but
            ignored as the price went to $53.50 on the first day of trading.[17]

            2000s
            As the company expanded product categories beyond collectibles into almost any saleable item, business grew quickly.[9] In February 2002,
            the company purchased iBazar, a similar European auction web site founded in 1998,[citation needed] and then bought PayPal
            on October 3, 2002.[18]
        </p>
        <p style="padding-left:20px;padding-right:20px;text-indent:20px">
            The name stylized with the name of "ebaY" between September 2007 and October 2012, after which the style became "ebay", which is currently
            used.[citation needed]

            By early 2008, the company had expanded worldwide, counted hundreds of millions of registered users, 15,000+ employees and revenues of almost
            $7.7 billion.[19] After nearly ten years at eBay, Whitman decided to enter politics. On January 23, 2008, the company announced that Whitman
            would step down on March 31, 2008 and John Donahoe was selected to become President and CEO.[20] Whitman remained on the Board of Directors
            and continued to advise Donahoe through 2008. In late 2009, eBay completed the sale of Skype for $2.75 billion, but will still own 30% equity
            in the company.[21]

            In 2012 eBay was charged by the United States Department of Justice with entering into non-solicitation agreements with other technology
            companies involving their highly skilled employees.[22]

            On September 30, 2014, eBay announced it would spinoff PayPal into a separate publicly traded company, a demand made nine months prior by
            activist hedge fund magnate Carl Icahn. The spinoff completed on July 18, 2015. eBay’s then chief executive, John Donahoe, stepped down
            from that role.[23][24][25]
        </p>
      
    </div>
</body>
</html>
