@using OnlineShop.Models;
@{
    Layout = null;
}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/MainPage.css?Wednesday 20th of July 2016 07:45:21 AM" />
    <meta name="viewport" content="width=device-width" />
    <title>Contacts</title>
</head>
<body>

    <div>
        @Html.Partial("~/Views/PartialViews/Header.cshtml")
    </div>
    <div id="CategoryList">
        @{
            GoodsContainer1 goods = new GoodsContainer1();
        }
        @Html.Partial("~/Views/PartialViews/showCatButton.cshtml", goods)
    </div><br />
    <div id="showProduct">
        <p>Email:inimicos471@gmail.com</p>
        <p>Phone:555-555-555</p>
        <p>City:Kiev</p>
        <p>Adress:Fiskulturi 6</p>
        @*<div id="map"></div>
        <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 44.540, lng: -78.546},
            zoom: 8
        });
      }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
        </script>*@
    </div>
</body>
</html>
