@using OnlineShop.Models;
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/ShowProductsByFilter.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/MethodsOfDelivery.css?Wednesday 20th of July 2016 07:45:21 AM" />
    <meta name="viewport" content="width=device-width" />
    <title>Methods of delivery</title>
</head>
<body>
    <div id="showProduct">
        <ul>
            <li>
                <div class="OutsideMethodOfDelivery">
                    <div class="MethodOfDelivery">
                        <h3 class="methodOfDelivery">By new post:</h3>
                    </div>
                </div>
                <div class="PictureOfDelivery">
                    <img src="http://novoposhta.com/images/0.png" />
                </div>
            </li>
            <li>
                <div class="OutsideMethodOfDelivery">
                    <div class="MethodOfDelivery">
                        <h3 class="methodOfDelivery">By Courier:</h3>
                    </div>
                </div>
                <div class="PictureOfDelivery">

                    <img src="http://images.wisegeek.com/delivery-man.jpg" />
                </div>

            </li>
            <li>
                <div class="OutsideMethodOfDelivery">
                    <div class="MethodOfDelivery">
                        <h3 class="methodOfDelivery">From our office:</h3>
                    </div>
                </div>
                <div class="PictureOfDelivery">
                    <img src="http://www.ukraine-hotel.kiev.ua/assets/photo/ukraine-hotel/ukraine-hotel-kiev-01.jpg" />
                </div>
            </li>
        </ul>
    </div>
</body>
</html>