@using OnlineShop.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/MainPage.css?Wednesday 20th of July 2016 07:45:21 AM" />
    <meta name="viewport" content="width=device-width" />
    <title>MethodsOfDelivery</title>
</head>
<body>
        <div>
            @Html.Partial("~/Views/PartialViews/Header.cshtml")
        </div>
        <div id="CategoryList">
            @{
                GoodsContainer1 goods = new GoodsContainer1();
            }
            @Html.Partial("~/Views/PartialViews/showCatButton.cshtml", goods)
        </div><br />
        <div style="margin-top:100px;margin-left:450px;">
            <table>
                <tr>
                    <td><p style="color:white;font-size:30px">By new post:</p></td>
                    <td><img src="http://novoposhta.com/images/0.png" style="width:300px;height:200px;padding-left:100px"/></td>
                </tr>
                <tr>
                    <td><p style="color:white;font-size:30px">By Courier:</p></td>
                    <td><img src="http://images.wisegeek.com/delivery-man.jpg" style="width:300px;height:200px;padding-left:100px" /></td>
                </tr>
                <tr>
                    <td><p style="color:white;font-size:30px">From our office <br/> in kiev watch contacts:</p></td>
                    <td><img src="http://www.ukraine-hotel.kiev.ua/assets/photo/ukraine-hotel/ukraine-hotel-kiev-01.jpg" style="width:300px;height:200px;padding-left:100px" /></td>
                </tr>
            </table>
         
         
          
        </div>
      
</body>
</html>
