@*@{ 
    var Base64 = Convert.ToBase64String(Model.Picture);
    var ImgSrc = String.Format($"data:image/png;base64,{Base64}");
}*@
<table style="border:1px solid red">
   <tr>
       <td>
           <p>Product name:</p>
       </td>
       <td>
           @Model.Name
       </td>
   </tr>
    <tr>
        <td>
            <p>Product article:</p>
        </td>
        <td>
            @Model.Article
        </td>
    </tr>
    <tr>
        <td>
            <p>Product price:</p>
        </td>
        <td>
            @Model.Price $
        </td>
    </tr>
    <tr>
        <td>
            <p>Product picture:</p>
        </td>
        <td>
            @*<img src='@Url.Action("show","image",new {Id=ImgSrc })'/>*@ 
        </td>
    </tr>
</table>