@using OnlineShop.Models;
    @{
        Layout = null;
    }
<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>Main page</title>
    <script src="~/Scripts/jquery-3.1.0.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
  
    <script src="~/Scripts/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ShowProductsByFilter.js" type="text/javascript"></script>
    <script src="~/Scripts/AddRemoveProductDialog.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/MainPage.css?Wednesday 20th of July 2016 07:45:21 AM" />

</head>
<body>

    <div>
          @Html.Partial("~/Views/PartialViews/Header.cshtml")
    </div>
    <div id="CategoryList">
    @{
        GoodsContainer1 goods = new GoodsContainer1();
    }
        @Html.Partial("~/Views/PartialViews/showCatButton.cshtml",goods)
    </div><br/>
    
    <div id="showProduct">
    </div>       
    <button id="DataOperationsAdd">
        Add Product
    </button>

    <button id="DataOperationsRemove">
        Remove Product
    </button>              
</body>
</html>

