@model OnlineShop.Models.News
<h1 style="text-align:center">@Model.Title</h1>
<h4>@Model.DateAdded</h4>
<p style="text-align:justify;text-indent:30px">
    This is part of our Road Trip 2016 summer series "Life, Disrupted," about how technology is helping with the global refugee crisis -- if at all.

    I was in the kitchen at my parents' house when my phone vibrated. It was a WhatsApp message from a refugee in a camp in the middle of the Pacific Ocean.

    I'd been exchanging messages with Iranian journalist Behrouz Boochani for more than a week, but I realized guiltily that I hadn't replied to his recent message. The only reason he was so slow replying was because he was messaging me from a remote island off the north coast of Papua New Guinea.

    On a terrible internet connection. Using a beat-up phone he'd bought from a smuggler for 50 cigarettes.

    For our Road Trip 2016 summer series, CNET's global team of reporters have been asking what technology access looks like for refugees fleeing conflict and persecution across the world.

    But as CNET's tech reporter in Sydney, I've been trying to find out what life is like for refugees who came to Australia by boat, only to be kept in offshore detention as part of the Australian government's campaign to tighten its borders.

    I've spoken to desperate people, kept isolated with little access to the outside world, and heard stories of smuggled phones, patchy internet, hidden camera footage and stonewalling at every level of bureaucracy.

    What do you do when technology is your only lifeline and it's disconnected?
</p>
  <h3>
      Out to sea
  </h3>
 
<p style="text-align:justify;text-indent:30px">
    When "illegal maritime arrivals" come to Australia by boat seeking refugee status, they're sent to two islands for processing.

    Like many Australians, I'd heard of Manus Island (off the coast of Papua New Guinea) and the Republic of Nauru. But I had no idea just how remote these places were until a few months ago. A quick look at Manus and Nauru on Google maps changed that.

    road-trip-au-map.jpgEnlarge Image
    Australia's offshore processing centers on Manus Island and Nauru are thousands of miles from the Australian mainland.
    Viva Tung/CNET

    I would need to fly more than 2,000 miles north of Australia to see what conditions and technology access was like in Australia's government-mandated detention camps.
</p>
<p style="text-align:justify;text-indent:30px">
    To get to Nauru, I was told I'd have to pay a non-refundable visa application fee of AU$8,000 ($6,200). But after several emails with Nauru's Director of Immigration, explaining my intentions to report on detention and our willingness to pay the fee, he said I couldn't even apply. The island apparently had an "accommodation shortage." Just days before my first request, one of Australia's tabloid news programmes had aired a report from Nauru after sending an entire TV crew there.

    Australia's Department of Immigration and Border Protection (DIBP) didn't respond to my questions about conditions in detention, saying the government doesn't run the camps and questions should be directed to the governments of PNG and Nauru. This, even though refugees there are seeking asylum in Australia, that offshore detention is an Australian government policy, and that the Australian government funds these centers -- to the tune of AU$1.1 billion per year.

    The governments of PNG and Nauru never responded to my questions.

    The current Prime Minister of Australia, Malcolm Turnbull, and four former prime ministers turned down my requests for interview for this story. I sent eight interview requests to Australia's current Immigration Minister Peter Dutton. His office still hasn't responded.
</p>
<h3>
    'Secret part of the world'
</h3>
<p style="text-align:justify;text-indent:30px">
    With the architects of Australia's offshore detention policies refusing to speak to me, I turned to people who have been able to use some tech to tell the world about offshore processing.

    When I first contacted Behrouz Boochani via WhatsApp in July, I wasn't sure he'd even want to talk to me. We're both journalists, but he's spent three years on Manus Island after fleeing Iran and trying to get to Australia. Our lives couldn't be more different.

    Sitting in my office, typing messages over Wi-Fi on my phone, I found it hard to picture him sitting in the tropical heat in a jungle camp.
</p>
<img style="width:100%;height:auto"  src="https://cnet3.cbsistatic.com/img/Icl4FRS5Yvs2W4AigWr6hYvX4DE=/2016/08/16/30c6aad6-52de-46f5-850d-2d1b1bf2bdef/road-trip-au-hut-manus.jpg"/>
<p style="text-align:justify;text-indent:30px">
    With the architects of Australia's offshore detention policies refusing to speak to me, I turned to people who have been able to use some tech to tell the world about offshore processing.

    When I first contacted Behrouz Boochani via WhatsApp in July, I wasn't sure he'd even want to talk to me. We're both journalists, but he's spent three years on Manus Island after fleeing Iran and trying to get to Australia. Our lives couldn't be more different.

    Sitting in my office, typing messages over Wi-Fi on my phone, I found it hard to picture him sitting in the tropical heat in a jungle camp.
</p>
<p style="text-align:justify;text-indent:30px">
    He told me, in lengthy exchanges, about selling his clothes to buy a phone only to have it confiscated when his room was raided by guards. He told me about hiding under a sheet so he could type without being discovered as he sent stories to media outlets in Australia using WhatsApp and email.

    He told me about internet speeds that are so slow they're turning his hair gray.

    I felt immense guilt that a refugee trying to reach Australia would have to live in such conditions. I'd seen photos of his camp on Facebook, as well as photos of messages scrawled in blood on walls inside the camp. Every time I started to type a reply to him, I was lost for words.
</p>
<p style="text-align:justify;text-indent:30px">
    But Behrouz isn't the only one trying to get the message out.
    I spoke to Eva Orner, the Australian-born, US-based director of the documentary film "Chasing Asylum." Orner put together a feature-length film without ever getting onto Manus Island or Nauru, relying on secretly-filmed footage from whistleblowers.

    The footage from these camps shows children behind fences, dilapidated old tents and men exhausted from the tropical heat. Without this hidden-camera footage, most people may never have seen what was happening there.

    "As a journalist or a filmmaker, you can't go there to any of those centers," Orner told me over the phone while she was in Australia to promote her film. "No cameras go in. Very few NGOs or human rights organizations have been in...It's completely secret. It's like this secret part of the world."
</p>
<h3>
    Border force
</h3>
<p style="text-align:justify;text-indent:30px">
    A week before publishing my story on how tech is being used by and against those in offshore detention, The Guardian released more than 2,000 reports made by staff in the Nauru center. They detail daily incidences of self-harm, assault and child abuse. The reports were published in a massive interactive database.

    But specific details about what's happening at the Manus and Nauru camps are still hard to come by.

    In 2015, Australia passed laws preventing detention center workers, such as doctors and nurses, from disclosing information obtained while working for Australia's Immigration Department. The penalty for speaking out is two years in jail.
</p>
<p style="text-align:justify;text-indent:30px">
    Fortunately, a former security officer from the Manus Island center, Martin Appleby, was willing to talk about life in detention.

    A former prison guard, Appleby is friendly and frank. But when he opened up about his time on the front lines at the detention center, I was moved to tears.

    He spoke about asylum seekers being referred to by their boat arrival number, rather than by their name. He told me about responding to three attempted suicides, about men in detention dragging their bodies across the jagged coral ground to inflict "excruciating" lacerations upon themselves.

    I tried to imagine what would happen without whistleblowers like Martin, without smuggled phones with their built-in cameras, without encrypted messaging technology, without the internet for sending these messages around the world.
</p>
<h3>
    A sea of words
</h3>
<p style="text-align:justify;text-indent:30px">
    My CNET colleagues travelling through Europe saw the the refugee crisis firsthand. They took photos with children, sat in tents, heard stray dogs bark and smelled the rot of discarded life jackets.

    But I got lost in words. Government rhetoric around immigration, official policies, draconian legislation, bureaucratic emails -- even the 2,000 reports leaked by The Guardian -- it all amounted to a sea of words.

    But words on a page only go so far in capturing the lived experiences of these asylum seekers in detention. Words can't capture the fear of traveling in a leaky boat to flee persecution, the feeling of coral and rock underfoot, the endless days of waiting, the desperation.
</p>
<img style="width:100%;height:auto" src="https://cnet2.cbsistatic.com/img/1CZH-yY7KYWCy2Chcxqe9PY3aLI=/2016/08/16/4284b4a0-d94a-4270-a621-93ef68555cf5/road-trip-au-nauru-bed-chasing-asylum.jpg"/>
<p style="text-align:justify;text-indent:30px">
    The refugees trying to reach Australia have lived these experiences, and they all have a story to tell. Just like Behrouz Boochani.

    Hours before I was due to publish my story about tech in offshore detention, the news broke that the Australian and PNG governments had agreed to close Manus down. I immediately got on WhatsApp and typed a message to Behrouz.

    "Have you heard about this?" I typed.

    His replies came thick and fast.

    "Yes."

    "I just received it."

    "Its incredible for people in Manus prison that feel close to freedom."
</p>
<p style="text-align:justify;text-indent:30px">
    But later that night, I felt a heavy weight descend again. Immigration Minister Peter Dutton gave no timeline on the camp closure, only promising that refugees in Manus would never be settled in Australia.

    So what does the future hold now for people like Behrouz? Do they resettle on Manus, outside the camp's fences? Behrouz had told me he would never accept the Australian Government would "sell" him to PNG. Do the refugees simple go home? Do they get shipped to Nauru?

    Or do they end up somewhere that is, unthinkably, more dangerous and oppressive than the Manus Island detention camp? Do they have their phones confiscated again and end up cut off from the world once more?

    While Behrouz, and other refugees like him, have a phone, the plight of refugees won't stay hidden. There will always be people on the other end of the line willing to listen -- I know it's a message I certainly couldn't ignore.

    And with the help of tech like phone cameras, Facebook or even a WhatsApp message sent from a beat-up old phone, these messages will be heard.
</p>