@model OnlineShop.Models.News
<h1 style="text-align:center">@Model.Title</h1>
<h4>@Model.DateAdded</h4>
<p style="text-align:justify;text-indent:30px">
    The US government's 20-year role in governing a crucial part of the internet is about to end.

    Starting October 1, the US will no longer have power over the domain naming system (DNS), the US Department of Commerce said in a blog post Tuesday.

    The DNS is one of the core components of the internet, linking every web address to servers using a unique set of numbers, commonly referred to as an IP address. Control of the system will be passed from the US government to a multi-stakeholder nonprofit organization based in Los Angeles called the Internet Corporation for Assigned Names and Numbers (ICANN).
</p>
<p style="text-align:justify;text-indent:30px">
    For the world's internet users, the handoff will go largely unnoticed; day-to-day use of the internet will not be affected. Instead, the transfer has been designed to ensure that the DNS continues to be a strong, reliable pillar of the internet for years to come. Proponents of the move, including the Obama administration, believe privatization will help maintain international support for the system and prevent governance of the internet from becoming a point of dispute.

    But some US politicians, including former Republican presidential hopeful Ted Cruz, are critical of the decision to transfer control of the DNS away from the US government. In a speech at the Republican National Convention last month, Cruz said he feared the system will now be open to interference from foreign governments after being safely guarded for years by the US.

    The switch has not come as a surprise to anyone, though. In fact, it has been many years in the making. The US government's caretaking of the system was always supposed to be a temporary measure and its partnership with ICANN stretches back as far as 1998.
</p>
<p style="text-align:justify;text-indent:30px">
    The agreement to complete the transition was made back in 2014. As of Tuesday, the government is satisfied that ICANN is ready to take charge of the system, Lawrence Strickling, assistant secretary for communications and information, said in the Commerce Department's blog post.

    "For the last 18 years, the United States has been working with the global Internet multi-stakeholder community to establish a stable and secure multi-stakeholder model of Internet governance that ensures that the private sector, not governments, takes the lead in setting the future direction of the Internet's domain name system," Strickland said.

    The model has been vital the internet's evolution into a "dynamic platform for innovation, economic growth and free expression," he added.
</p>