<!DOCTYPE html>
@using OnlineShop.Models;
<html>
<head>
   @* <meta name="viewport" content="width=device-width" />*@
    <script src="~/Scripts/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.6.2.js" type="text/javascript"></script>
</head>
<body>
        <header>           
                @Html.Partial("~/Views/PartialViews/Navigation.cshtml")
        </header>
            <div style="position:absolute" id="CategoryList">
                @{
                    GoodsContainer1 goods = new GoodsContainer1();
                }
                @Html.Partial("~/Views/PartialViews/showCatButton.cshtml", goods)
            </div>
            <div class="container body-content">
                @RenderBody()
                <footer style="position:relative; bottom:0px">
                    <div style="border-top:solid 1px #cccccc">

                    </div>
                    <p>This is application created for showing my skills,no commercial using</p>
                </footer>
            </div>

  

</body>
</html>

