<!DOCTYPE html>
@using OnlineShop.Models;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.1.0.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js" type="text/javascript"></script>
</head>
<body>
   
        @Html.Partial("~/Views/PartialViews/Header.cshtml")
   
    <div style="position:absolute" id="CategoryList">
        @{
            GoodsContainer1 goods = new GoodsContainer1();
        }
        @Html.Partial("~/Views/PartialViews/showCatButton.cshtml", goods)
    </div>
    <div class="container body-content">
        @RenderBody();
    </div>   
</body>
</html>

