@using OnlineShop.Models
@model List<News>
<link href="~/Content/News.css" rel="stylesheet" type="text/css"/>
<script src="~/Scripts/News.js" type="text/javascript"></script>
<script src="~/Scripts/SortNews.js" type="text/javascript"></script>
<select id="sortNews">
    <option value="Select">Select</option>
    <option value="Newest">Newest</option>
    <option value="Oldest">Oldest</option>
</select>
<div id="NewsContainer">
    @Html.Partial("~/Views/PartialViews/NewsList.cshtml", Model);
 </div>


