@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<html>
<head>
    <link href="~/Content/News/News1.css" rel="stylesheet" type="text/css"/>
</head>
<body>
        <div class="item-page">
            <h1>
                Программируемые терморегуляторы помогут экономить на обогреве!!!
            </h1>
            <div style="display: none;">
                <img src="http://rdmarket.com.ua/images/news/2016/programmable-thermostats/programmable-thermostats-1.jpg"
                     alt="экономим на обогреве">
            </div>
            <p>
                С 1 сентября в Украине начался четвертый этап подорожания электрической энергии для населения.
                Платить придется каждый месяц в среднем на 25 % больше. Это при том, что и прежние тарифы были
                достаточно высокими.
            </p>

            <p class="m-bottom-p">
                <img src="http://rdmarket.com.ua/images/news/2016/programmable-thermostats/programmable-thermostats-1.jpg"
                     alt="4-й этап подорожания электроэнергии">
                <br>С 1 сентября в Украине начался четвертый этап подорожания электрической энергии
                для населения. Платить придется каждый месяц в среднем на 25 % больше. Это при том,
                что и прежние тарифы были достаточно высокими.
            </p>
            <div style="clear: both;">&nbsp;</div>
            <div align="center">
                <table>
                    <caption class="font-b">Новые тарифы:</caption>
                    <tbody>
                        <tr>
                            <td align="center">Норма потребления</td>
                            <td align="center">Новый тариф за 100 кВт, грн</td>
                        </tr>
                        <tr>
                            <td>
                                Для населения, которое потребляет до 100кВт/час (до 150кВт в сельской
                                местности), в том числе, для жителей домов, оборудованных кухонными
                                электроплитами.
                            </td>
                            <td align="center">71,4</td>
                        </tr>
                        <tr>
                            <td>
                                Для населения, которое потребляет в месяц от 100 до 600кВт/час
                                электроенергии.
                            </td>
                            <td align="center">129</td>
                        </tr>
                        <tr>
                            <td>
                                Для населения, которое потребляет больше 600кВт/час электроенергии
                                на протяжении месяца.
                            </td>
                            <td align="center">163,8</td>
                        </tr>
                        <tr>
                            <td>
                                Тариф для многодетных семей, детских домов семейного типа, семей
                                с прийомными детьми, независимо от объема потребления электроенергии.
                            </td>
                            <td align="center">71,4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br>
            <p class="m-bottom-p">
                <span class="font-b">
                    Повышение тарифов, особенно в преддверии отопительного
                    сезона, заставляет еще раз задуматься: как можно экономить на обогреве?
                </span>
            </p>
            <p class="m-bottom-p">
                В первую очередь, необходимо утеплить стены, двери, окна, пол и крышу
                дома, если Вы этого еще не сделали. Утепление помещения помогает экономить до 30% тепла.
            </p>
            <p>
                Если Вы используете в качестве основного или дополнительного обогрева теплый пол
                <span class="font-b">
                    - программируемые терморегуляторы из линейки датского производства,
                    OJ Electronics, помогут экономить до 40% расходов на отопление.
                </span>
            </p>
            <p class="m-bottom-p">
                Каждый из регуляторов данной линейки поможет максимально точно управлять
                обогревом в каждой комнате отдельно, в зависимости от необходимости и времени вашего в ней
                пребывания. Для создания оптимального теплового комфорта с минимальными энергозатратами,
                терморегуляторы управляют Вашей системой обогрева, включая ее в определенные промежутки времени
                в разные дни недели. Существует возможность установить 4 режима (события) на каждый день с разной
                температурой.<br><br>
            </p>
            <p class="m-bottom-p">
                <img src="http://rdmarket.com.ua/images/news/2016/programmable-thermostats/programmable-thermostats-2.jpg"
                     alt="регулятор OJ Electronics OCD5-1999"><br><br>
                <br>Все программируемые регуляторы OJ Electronics имеют адаптивную функцию, с помощью которой
                терморегуляторы самостоятельно высчитывают, когда нагрев должен быть включен, чтобы комфортная
                температура была достигнута в заданное время.
            </p>
            <div style="clear: both;">&nbsp;</div>
            <p class="m-bottom-p">
                <span class="font-b">
                    Флагман OJ Electronics, сенсорный терморегулятор
                    OCD5-1999, обладает дополнительными функциями для экономии:
                </span>
            </p>
            <ul class="list-square">
                <li>
                    <span class="font-b">
                        Функция «Использование энергии» выводит на монитор регулятора
                        информацию о количестве потребляемой энергии
                    </span> за установленные Вами периоды
                    (7 дней, месяц, или год) и число часов работы системы в час/день/месяц. Данная информация
                    позволит Вам контролировать использование электричества вашей системой обогрева.
                </li>
                <li>
                    <span class="font-b">
                        Опция «Тариф на энергию» автоматически просчитывает и выводит
                        на монитор регулятора сумму к оплате за обогрев
                    </span> зависимости от введенных
                    Вами цен на электричество и количества потребляемой электроенергии за каждый отдельный
                    период.
                </li>
                <li>
                    <span class="font-b">
                        Функция Eсо автоматически снижает потребление энергии, когда нет
                        необходимости в обогреве помещения.
                    </span>
                </li>
            </ul>
            <br><br><br>
            <p class="m-bottom-p">
                <span class="font-b">
                    <img src="http://rdmarket.com.ua/images/news/2016/programmable-thermostats/programmable-thermostats-3.jpg"
                         alt="программируемый терморегулятор">
                    Особенно актуальной будет установка программируемого терморегулятора от OJ Electronics,
                    OCD5-1999, в сочетании с двухконтурным счетчиком
                </span>, если Вы используете теплые полы для основного, или дополнительного отопления
                помещений. Основной обогрев можно запрограммировать на ночное время, и
                <span class="font-b">экономить 50% от использованной на обогрев электроэнергии</span>.
                При этом, программируемый терморегулятор позволит установить меньшую интенсивность обогрева
                в теплых комнатах и в комнатах, которыми Вы редко пользуетесь.<br>
            </p>
            <p class="m-bottom-p">
                <span class="font-b">
                    Подведем итог. Чтобы уменьшить ваши счета
                    за электричество и продолжать получать максимальный комфорт:
                </span>
            </p>
            <p class="m-bottom-p">
                <img src="http://rdmarket.com.ua/images/news/2016/programmable-thermostats/programmable-thermostats-4.jpg"
                     alt="подбор оптимального обогрева">
                <span class="font-b">
                    - утеплите жилье;<br> - установите двухтарифный счетчик на электричество;
                    <br> - и не забудьте про теплые полы с программируемыми терморегуляторами от OJ Electronics
                    для каждой комнаты.
                </span>
            </p>
            <p class="m-bottom-p">
                Звоните нам по телефонам (067) 500-93-65, (044) 503-06-06, или присылайте
                вопросы на почту info@rdim.ua, и наши специалисты обязательно помогут Вам подобрать оптимальный
                обогрев и определиться с выбором модели терморегулятора.
            </p>
            <p class="m-bottom-p">
                <span class="font-b">
                    Пусть в вашем доме всегда будет тепло, независимо
                    от погоды.
                </span>
            </p>
            <div class="clear"></div>
        </div>
</body>
</html>
