@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<html>
<head>
    <link href="~/Content/Contacts.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="contactsContainer">
        <h1>
            Контакты
        </h1>
        <div>
            <img src="http://rdmarket.com.ua/images/misc/contacts.png">
        </div>

        <div>
            <p>Наш адрес:<br>
                <span class="font-b">г. Киев<br> ул. Сырецкая, 31</span>
                <br> (возле завода "Шампанских вин")
            </p>
            <p>
                тел.: <span class="font-b">
                    (044) 501-40-40<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(067) 403-86-32<br>
                </span>
            </p>
            <p>
                email: <span class="font-b">
                    <span id="cloak26124"><a href="mailto:office@rdmarket.com.ua">office@rdmarket.com.ua</a></span>
                    <script type="text/javascript">
 //<!--
 document.getElementById('cloak26124').innerHTML = '';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy26124 = '&#111;ff&#105;c&#101;' + '&#64;';
 addy26124 = addy26124 + 'rdm&#97;rk&#101;t' + '&#46;' + 'c&#111;m' + '&#46;' + '&#117;&#97;';
 document.getElementById('cloak26124').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy26124 + '\'>' +addy26124+'<\/a>';
 //-->
                    </script>
                </span>
            </p>
        </div>
        <div class="map" style="display: inline-block; vertical-align:top;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.3312568889837!2d30.449358944180297!3d50.49079228025643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd976f5d06c1%3A0xd77292c7cfc97a7!2zwqvQoNCw0LfRg9C80L3Ri9C5INC00L7QvMK7IC0g0YLQtdC_0LvRi9C5INC_0L7QuyDQsiDQo9C60YDQsNC40L3QtQ!5e0!3m2!1sru!2sua!4v1444118673336" width="450" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>

        <div class="clear"></div>
    </div>
</body>
</html>
