@model OnlineShop.Models.OnlineShopDatabase.Goods.DescriptionParameters
<script src="~/Scripts/DiscriptionParameters.js" type="text/javascript"></script>
<div id="DescriptionContainer">
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Description, new { Value = Model.Description, Id = "DescriptionField", @Class = "form-control" })

            </td>
            <td>
                @Html.TextBoxFor(x => x.DescriptionParameter, new { Value = Model.DescriptionParameter, Id = "DescriptionParamField", @Class = "form-control" })

            </td>
            <td>
                <input class="AddDescription" type="button" value="+" />
            </td>
            <td>
                <input class="RemoveDescription" type="button" value="-"  />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                @Html.ValidationMessageFor(x => x.Description)
            </td>
            <td style="padding-left:10px">
                @Html.ValidationMessageFor(x => x.DescriptionParameter)
            </td>
        </tr>
    </table>
</div>







