@model OnlineShop.Models.OnlineShopDatabase.Goods.DescriptionParameters
<div class="DescriptionContainer">
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Description, new {Value = Model.Description, @Class = "form-control"})

            </td>
            <td>
                @Html.TextBoxFor(x => x.DescriptionParameter, new {Value = Model.DescriptionParameter, @Class = "form-control"})

            </td>
            <td>
                <input class="AddDescription" type="button" value="+"/>
            </td>
            <td>
                <input class="RemoveDescription" type="button" value="-"/>
            </td>
        </tr>
        <tr>
            <td>
                @Html.ValidationMessageFor(x => x.Description)
            </td>
            <td style="padding-left:10px">
                @Html.ValidationMessageFor(x => x.DescriptionParameter)
            </td>
        </tr>
    </table>
   
       
</div>







