body {

}

#mainMenu{
    z-index:100;
    margin-left:-42px;
    left:0px;
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    list-style-type:none;
}
.subMenu {
     list-style-type:none;
}
.MenuItem
{
    width:200px;
    height:50px;
    border-radius:5px;
    background:linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
    color:white;
    border:1px solid black;
    text-align:center;
}
.subMenuItem
{   
    width:200px;
    height:50px;
    border-radius:5px;
    background:linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
    color:white;
    border:1px solid black;
    text-align:center;
}
#ListIndicator{
    position:fixed;
    width:20px;
    margin-top:16%;
    margin-left:-0.6%;
}
#MenuContainer{
    display:none;
}
#ListIndicator:hover + #MenuContainer{
    display:block;
}
#MenuContainer:hover{
    display:block;
}
.MenuItem:hover
{
    text-decoration:underline;
    background:linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
}
#mainMenu li ul {
    display:none;
}
#mainMenu li:hover ul {
    display:block;
    position:absolute;
    top:0px;
    left:200px;
}
.subMenuItem:hover{
    text-decoration:underline;
}
