body {

}

#mainMenu{
    left:0px;
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    list-style-type:none;
}
.subMenu {
     list-style-type:none;
}
.MenuItem
{
    width:300px;
    height:50px;
    border-radius:5px;
    background:linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
    color:white;
    border:1px solid black;
    text-align:center;
}
.subMenuItem
{
   
    width:300px;
    height:50px;
    border-radius:5px;
    background:linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
    color:white;
    border:1px solid black;
    text-align:center;
}
MenuItem:hover
{
    color:black;
    background:linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
}
#mainMenu li ul {
    display:none;
}
#mainMenu li:hover ul {
    display:block;
    position:absolute;
    top:0px;
    left:300px;
}
