#newsContainer{
    list-style-type:none;
}
.news{
    margin-bottom:5%;
    border-bottom:solid 1px  #d9d9d9;
}

.newsContainer {
     border:solid 1px white;
}
.newsContainer:hover{
  -webkit-box-shadow: 10px 6px 62px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 6px 62px 0px rgba(0,0,0,0.75);
box-shadow: 10px 6px 62px 0px rgba(0,0,0,0.75);
}
.newsDescription{
    display:inline-block;
   
    width:50%;
    vertical-align:middle;
    min-height:200px;
}
.newsDescription p{
   
    height:100%;
  
}
.newsPreviewsPicture{
    vertical-align:middle;
    display:inline-block;   
}

