#ProductHead{
    width:100%;
}
h1{
    text-align:center;
}
h2{
    text-align:center;
}
ul{
    list-style-type:none;
}
.dicriptionParameters{
  
}
dd{
   margin-bottom:30px;
}
img{
    width:90%;
    height:auto;
}
#productPicture {
     width:60%;
     height:auto;
     display:inline-block;
     vertical-align:middle;
}
#productDiscriptions{
    width:39%;
    height:auto;
    vertical-align:middle;
    display:inline-block;
}
.BuyOperations{
    border-radius:10px;
    width:100px;
    height:50px;
    background:linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
    color:white;   
    text-align:center;
    cursor:pointer; 
}