@model OnlineShop.Models.OnlineShopDatabase.NewsDataBase.NewsList
<h1 style="text-align:center">@Model.Title</h1>
<h4>@Model.DateAdded</h4>
<p style="text-align:justify;text-indent:30px">
    Samsung is going to limit preorders of the Note 7 in Europe, in a bid to still have some phones to sell when it goes on general release. The South Korean mobile-maker reckons demand for its 5.7-inch stylus-wielding wonderphone has far outstripped its expectations. On this week's edition of the UK's best tech podcast we ponder whether Samsung could be artificially creating scarcity to drum up public interest, or whether it has genuinely misjudged demand -- a mistake that can prove costly.

    After that, any illusions of genuine friendship among the podcast crew fall away as Luke and Andy row bitterly over whether it's time to scrap the decades-old 3.5mm headphone jack, as Apple is rumoured to be doing for the iPhone 7, and which Intel also suggested doing this week.

    Meanwhile Uber isn't happy about TfL demanding drivers take an English-language test, Oculus Rift gets a release date in Europe (where it'll arrive with a hefty £549 price tag), the US prepares to hand over power of the Internet's naming system and the world's largest offshore wind farm is set to be built in the North Sea.

    Oh, and did we mention the bum-shaped blimp? The Airlander 10 is the world's largest aircraft, and just completed a historic flight over Bedfordshire.
</p>
<h3>
    Life, Disrupted
</h3>

<p style="text-align:justify;text-indent:30px">
    When you're done with this week's podcast, make sure you check out Road Trip 2016, 
    CNET's annual feature that this year takes a look at the global refugee crisis, and finds 
    out how tech is helping migrants fleeing war in their home countries, if it's helping at all.
</p>
<h3>
    CNET UK podcast 494
</h3>
<p style="text-align:justify;text-indent:30px">
    We're always hungry for your feedback, so pop your thoughts in the comments below or drop us
     a line at cnetukpodcast [at] cbsi.com. Oh, and if you've enjoyed the show, why not leave
     us a glowing review on iTunes? Hit play and enjoy. If you're done with our magnificent 
    podcast and your ears are still thirsty, check out the podcasts CNET's listening to.
</p>
