@model OnlineShop.Models.News
<h1 style="text-align:center">@Model.Title</h1>
<h4>@Model.DateAdded</h4>
<img style="width:100%;height:auto" src="https://cnet2.cbsistatic.com/img/AyINUob2h1we-rYytD5Ni8gVrpE=/2016/04/06/c18d2295-ed35-44e4-b5cb-e5a469f4a19a/huawei-p9-launch-london-4.jpg" />
<p style="text-align:justify;text-indent:30px">
    India is big business, and Huawei is looking to make a big impression.

    Peter Zhai, President of Huawei India Consumer Business Group, said on Thursday that the company will soon begin manufacturing phones in the country, The Economic Times reports.

    For Huawei, the world's third largest smartphone brand according to IDC research, manufacturing devices in the country will let it take advantage of the Make in India program, which offers tax incentives to foreign companies that build products locally.
</p>
<p style="text-align:justify;text-indent:30px">
    "As an international brand, we are interested in developing our India business at the right time. It is going to be the second largest mobile devices market after China," he reportedly said. "We will be aggressive in India."

    Huawei, which earned plaudits for its recent P9 flagship phone, isn't the only company gunning for top spot in India. Apple has this year focused more than ever on the populous nation, announcing it will open a software design and development accelerator in Bengaluru and a mapping research centre in Hyderabad.
</p>