@model OnlineShop.Models.News
<h1 style="text-align:center">@Model.Title</h1>
<h4>@Model.DateAdded</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OO_JZGmYXyY" frameborder="0" allowfullscreen></iframe>
<p style="text-align:justify;text-indent:30px">
    Sprint and T-Mobile are bringing affordable unlimited data plans back into fashion.

    In dueling press releases Thursday, Sprint and T-Mobile announced competing unlimited data plans
    for wireless customers who are willing to sacrifice video quality. The new plans cost significantly
    less than the $95 a month each company currently charges for unlimited data.
</p>
<p style="text-align:justify;text-indent:30px">
    For both carriers, the unlimited data plans require that all video on the service be streamed in
    standard definition rather than high definition, greatly reducing the amount of bandwidth that
    traverses their networks. A standard-definition video consumes five times less network capacity
    than a high-definition video, according to Roger Entner, an analyst with Recon Analytics.
</p>
<p style="text-align:justify;text-indent:30px">
    Sprint's and T-Mobile's new plans show how smaller players can creatively attack their
    larger rivals. Since AT&T and Verizon abandoned unlimited plans years ago, Sprint and T-Mobile
    have each touted their unlimited offers to attract new customers. Now, the two smaller carriers
    say they can offer unlimited data at much lower prices. (Note: Since January, AT&T has been
    offering a promotion of unlimited wireless data for phone customers who also sign up for its
    U-verse or DirecTV satellite TV service.)
</p>
<p style="text-align:justify;text-indent:30px">
    "Video is a huge driver of data," Entner said. "Offering video at a lower quality is the only
    way carriers can continue to offer unlimited data."
</p>
<p style="text-align:justify;text-indent:30px">
    The plans underscore the intense competition in the wireless market as carriers copy offers to
    vie for new customers. T-Mobile was the first company to test the waters in offering lower-quality
    video at a reduced price. The company's Binge On service introduced last year allows customers to
    stream video in standard definition from certain sites without it counting against their monthly
    data plans. Now, the carrier is expanding the offer so all its data is offered on an unlimited
    basis so long as video is streamed in standard definition. Sprint is using the same concept to
    reduce the price of its new Unlimited Freedom plan.
</p>
<p style="text-align:justify;text-indent:30px">
    "The wireless industry is extremely competitive," said David Tovar, vice president of corporate
    communications for Sprint. "We are always watching the competition to try and take something
    that appears popular and make it even better. That's what we have done here by offering a really
    compelling offer."
</p>
<h3>
    Sprint Unlimited Freedom vs. T-Mobile One
</h3>

<p style="text-align:justify;text-indent:30px">
    So which plan offers the best deal for consumers? That depends.

    Sprint and T-Mobile have priced the two services to be nearly identical.
    Figuring out which service offers the best value depends on several factors, such as
    how many people are in the plan, where you live and work and whether you plan to use your
    phone as a mobile hotspot.
</p>
<p style="text-align:justify;text-indent:30px">
    If you're a single person or even a couple subscribing to a T-Mobile plan, you will pay
    more for this new unlimited service than you would if you subscribed to Sprint.
    But a family of four will pay exactly the same regardless of whether you're using
    T-Mobile or Sprint.

    Here are the numbers: T-Mobile's service is $70 for the first customer.
    The second line is $50 a month and additional lines will be $20 a month for up to eight
    lines with auto-pay turned on. That means for two people the cost is $120 a month or $60 a
    month per person.
</p>
<p style="text-align:justify;text-indent:30px">
    Sprint's service starts at $60 for the first line, is $40 for the second line and $30 for
    each additional line up to five total subscribers. This means for two people on the plan the
    cost is $50 each per month, saving customers in both instances $10 a month. Pricing evens out
    by the time you have four people on a plan, with each person paying $40 a month whether it's
    Sprint or T-Mobile.
</p>
<p style="text-align:justify;text-indent:30px">
    Another key difference is for customers who want to use their phone as a hotspot to connect
    other devices, like a laptop or tablet, via Wi-Fi or Bluetooth. T-Mobile charges extra for this
    feature, whereas Sprint doesn't. T-Mobile includes unlimited "tethering" or data sharing at 128
    kilobits per second. If you want access to 4G speeds, you have to pony up an additional $15 for
    5GB of data per month. Sprint offers tethering at full 4G speeds up to 5GB a month at no additional
    charge.
</p>
<p style="text-align:justify;text-indent:30px">
    In general, Sprint's offer is a better deal. But it's only a better deal if you can get Sprint
    service where you live and work. T-Mobile has made significant strides over the past couple of
    years expanding its network footprint. It now covers more than 310 million customers with its
    4G LTE service. Sprint, which has greatly improved its network speed and reliability in urban
    markets, still struggles in less densely populated areas. For customers who live and work in a
    big US city and don't travel too far outside of Sprint's territories, the competitively priced
    offer is a great deal. But for folks who live in the suburbs or beyond, T-Mobile's offer could
    be a better value even if it is slightly more expensive.

    "Sprint's been competing as the price leader," Mike Sievert, chief operating officer for T-Mobile,
    said in an interview. "Nothing has changed there. They will continue to find ways to undercut
    the competition because their network is deficient."
</p>


