@using System.Web.Mvc.Html
@using OnlineShop.Models;
@using OnlineShop.Models.OnlineShopDatabase.Goods
@model Product
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<html>
<head>
    <link href="~/Content/BuyProduct.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="BuyProdContainer">
        <h1>Congratulations!!!</h1>
        <br/>
        <h4>you bought this product,check your cart</h4>
    </div>
</body>
</html>

