@using OnlineShop.Models;
@model OnlineShop.Models.OnlineShopDatabase.Goods.Product
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main page</title>

    <link type="text/css" rel="stylesheet" href="~/Content/MainPage.css" />
</head>
<body>
<div id="showProduct">
    <p>Hello</p>
</div>
</body>
</html>

