<link type="text/css" rel="stylesheet" href="~/Content/MainPage.css"/>
<link type="text/css" rel="stylesheet" href="~/Content/PagedList.css"/>
<script type="text/javascript" src="~/Scripts/BuyProduct.js"></script>
   @using PagedList.Mvc;
@using OnlineShop.Models.OnlineShopDatabase.Goods
@model PagedList.IPagedList<Product>
    <div id="showSelectedProducts">
        <ul style="list-style-type:none">
            @foreach (Product prod in Model)
            {
                <li>
                    @Html.Action("showOneProduct", "ShowProducts", new { product = prod })
                   
                </li>
            }
        </ul>
    </div>
@*Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) of @Model.PageCount*@
@Html.PagedListPager(Model,page=> Url.Action("showProductsByFilter", "ShowProducts",
    new { subCategory=@ViewBag.clickedCategory, pageNumber=page,
        orderType = ViewBag.OrderType,@id="Page_Changer" }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions() {
            HttpMethod ="GET",
            UpdateTargetId= "showSelectedProducts"
        }))
  