 <link type="text/css" rel="stylesheet" href="~/Content/PagedList.css?Wednesday 20th of July 2016 07:45:21 AM"/>
 <script></script>
   @using System.Collections.Generic;
   @using PagedList.Mvc;
   @using PagedList;
   @using OnlineShop.Models;
@model PagedList.IPagedList<Product>
    <div id="showSelectedProducts">
        <ul style="list-style-type:none">
            @foreach (Product prod in Model)
            {
                <li>
                    @Html.Action("showOneProduct", "ShowProducts", new { product = prod })
                    <br />
                </li>
            }
        </ul>
    </div>
@*Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) of @Model.PageCount*@
@Html.PagedListPager(Model,page=> Url.Action("showProductsByFilter", "ShowProducts",
    new { subCategory=@ViewBag.clickedCategory, pageNumber=page,
        orderType = ViewBag.OrderType,@id="Page_Changer" }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions() {
            HttpMethod ="GET",
            UpdateTargetId= "showSelectedProducts"
        }))
  