@model OnlineShop.Models.GoodsContainer1
@using OnlineShop.Models;
@using System.Data.Entity;
<link type="text/css" rel="stylesheet" href="~/Content/CategoryList.css?Wednesday 20th of July 2016 07:45:21 AM"/>
    <script src='@Url.Content("~/Scripts/jquery-3.1.0.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")' type="text/javascript"></script>
    <script src="~/Scripts/ResizeButton.js" type="text/javascript"></script>
    <script src="~/Scripts/ShowProductsByFilter.js" type="text/javascript"></script>
        <ul id="mainMenu">
            @foreach(string cat in Model.CategorySet.Select(x=>x.category))
            {
                <li>
                    <button class="MenuItem">
                        @cat
                        
                    </button>
                       
                    <ul class="subMenu">
                        @foreach (SubCategory subcat in Model.SubCategorySet.Where(x=>x.Category.category==cat))
                        {

                             <li>                               
                                     <button type="button" value="@subcat.Id" class="subMenuItem">
                                         @subcat.Subcategory
                                     </button>
                               
                             </li>
                        }
                    </ul>         
                </li>
            }
        </ul>


