
@model OnlineShop.Models.Product
<table>
<thead>
    <tr>
    <td>
    @Model.Name @Model.Article @Model.Price $
    </td>
</tr>
</thead>
    <tbody>
     
        <tr>
            <td rowspan="4">
                <img style="width:auto;height:auto" src="@Url.Content(Model.Picture)" alt="Image" />
            </td>
        </tr>
    </tbody>
</table>