
@model OnlineShop.Models.Product
<table style="border:1px solid black">
   <tr>
       <td>
           <p>Product name:</p>
       </td>
       <td>
           @Model.Name
       </td>
   </tr>
    <tr>
        <td>
            <p>Product article:</p>
        </td>
        <td>
            @Model.Article
        </td>
    </tr>
    <tr>
        <td>
            <p>Product price:</p>
        </td>
        <td>
            @Model.Price $
        </td>
    </tr>
    <tr>
        <td>
            <p>Product picture:</p>
        </td>
        <td>
           @* <img src="@Url.Action("ShowPicture","FileOper",new {imageData=@Model.Picture})" />*@
        </td>
    </tr>
</table>