@model OnlineShop.Models.OnlineShopDatabase.Authentication.User
<script src="~/Scripts/AddRemoveProductDialog.js" type="text/javascript"></script>
<script src="~/Scripts/ShowAccaunts.js" type="text/javascript"></script>
<script src="~/Scripts/EditProfile.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="~/Content/ShowUserProfile.css" />
@{
    ViewBag.Title = "ShowUserProfile";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<div id="showProduct">
        @Html.Partial("~/Views/Auth/ShowOneUser.cshtml",Model) 
</div>     

